.custom-control-button {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 8px; /* Adjust font size for better fit */
  box-sizing: border-box;
  margin: 2px; /* Adjust margin for spacing */
  padding: 0; /* Ensure no additional padding */
}
.custom-control-button:hover {
  background-color: #33373e !important;
}
