.custom-control-button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 10px;
    box-sizing: border-box;
    margin: auto;
  }
  .custom-control-button:hover {
    background-color: #33373e !important;
  }
  