.custom-control-button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer !important;
  font-weight: 700 !important;
  font-size: 8px !important; /* Adjust font size for better fit */
  box-sizing: border-box !important;
  margin: 2px !important; /* Adjust margin for spacing */
  padding: 0 !important; /* Ensure no additional padding */
}
.custom-control-button:hover {
  background-color: #33373e !important;
}
